
@{
    ViewBag.Title = "Task Scheduler";
}

<h2>TaskScheduler</h2>

<div class="row">
    <div class="col-md-4">
        <div class="row">
            <label>
                <input type="radio" asp-for="IsFemale" value="false" /> One Time
            </label>
        </div>
        <div class="row">
            <label>
                <input type="radio" asp-for="IsFemale" value="true" /> Daily
            </label>
        </div>
        <div class="row">
            <label>
                <input type="radio" asp-for="IsFemale" value="true" /> Weekly
            </label>
        </div>
        <div class="row">
            <label>
                <input type="radio" asp-for="IsFemale" value="true" /> Monthly
            </label>
        </div>
    </div>
    <div class="col-md-8">
        .col-md-1
    </div>
</div>